#wrapper{
    width:100px;
    height:100px;
    margin:200px auto;
    perspective:700px;
    -webkit-perspective:700px;
}
.cube{
    position:relative;
    width:100px;
    height:100px;
    transform-style:preserve-3d;
    transform: rotateX(15deg) rotateY(15deg);
    -webkit-animation-name: rotate-cube; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 24s; /* Safari 4.0 - 8.0 */
    animation-name: rotate-cube;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.cube .large{
    transition: 1s;
    position:absolute;
    top: -50px;
    left: -50px;
    width:200px;
    height:200px;
}
.cube .small{
    position:absolute;
    width: 100px;
    height: 100px;
}
.cube div:nth-child(1){
    transform:translateZ(100px);
    background-image: url(images/1.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 0.1;
}
.cube div:nth-child(2){
    transform: rotateX(180deg) rotateZ(180deg) translateZ(100px);
    background:url(images/2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 0.1;
}
.cube div:nth-child(3){
    transform: rotateY(-90deg) translateZ(100px);
    background:url(images/3.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 0.1;
}
.cube div:nth-child(4){
    transform:rotateY(90deg) translateZ(100px);
    background:url(images/4.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 0.1;
}
.cube div:nth-child(5){
    transform: rotateX(90deg) translateZ(100px);
    background:url(images/5.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 0.1;
}
.cube div:nth-child(6){
    transform:rotateX(-90deg) translateZ(100px);
    background:url(images/6.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity: 0.1;
}
.cube div:nth-child(7){
    transform:translateZ(50px);
    background:url(images/1.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.cube div:nth-child(8){
    transform: rotateX(180deg) rotateZ(180deg) translateZ(50px);
    background:url(images/2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.cube div:nth-child(9){
    transform: rotateY(-90deg) translateZ(50px);
    background:url(images/3.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.cube div:nth-child(10){
    transform:rotateY(90deg) translateZ(50px);
    background:url(images/4.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
  /* top */
.cube div:nth-child(11){
    transform: rotateX(90deg) translateZ(50px);
    background:url(images/5.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
  /* bottom */
.cube div:nth-child(12){
    transform:rotateX(-90deg) translateZ(50px);
    background:url(images/6.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.cube:hover div:nth-child(1){
    transform:translateZ(150px);
    opacity: 0.9;
}
.cube:hover div:nth-child(2){
    transform: rotateX(180deg) rotateZ(180deg) translateZ(150px);
    opacity: 0.9;
}
.cube:hover div:nth-child(3){
    transform: rotateY(-90deg) translateZ(150px);
    opacity: 0.9;
}
.cube:hover div:nth-child(4){
    transform:rotateY(90deg) translateZ(150px);
    opacity: 0.9;
}
.cube:hover div:nth-child(5){
    transform: rotateX(90deg) translateZ(150px);
    opacity: 0.9;
}
.cube:hover div:nth-child(6){
    transform:rotateX(-90deg) translateZ(150px);
    opacity: 0.9;
}
@keyframes rotate-cube{
    0% { transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);}
    40% { transform: rotateX(15deg) rotateY(345deg) rotateZ(0deg);}
    50% { transform: rotateX(105deg) rotateY(345deg) rotateZ(0deg);}
    90% { transform: rotateX(105deg) rotateY(345deg) rotateZ(1turn);}
    100% { transform: rotateX(15deg) rotateY(345deg) rotateZ(1turn);}
}
body {
      background: #000 url(matrix.gif) center center repeat;
      margin: 0;
	  padding: 0;
    }

    #container {
      width: 100%;
      -webkit-perspective: 1000;
      -webkit-perspective-origin: 50% 620px;
    }
    #stage {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 2s;
      -webkit-transform-style: preserve-3d;
    }
    
    #shape {
      position: relative;
      top: 200px;
      margin: 0 auto;
      height: 200px;
      width: 200px;
      -webkit-transform-style: preserve-3d;
    }
    
    .plane {
      position: absolute;
      height: 200px;
      width: 200px;
      border: 1px solid white;
      -webkit-border-radius: 12px;
      -webkit-box-sizing: border-box;
      text-align: center;
      font-family: Times, serif;
      font-size: 124pt;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -webkit-backface-visibility: hidden;
    }

    #shape.backfaces .plane {
      -webkit-backface-visibility: visible;
    }

    #shape {
      -webkit-animation: spin 8s infinite linear;
    }

    @-webkit-keyframes spin {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(360deg); }
    }
	
    .one {
		background-image: url(../img/1.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .two {
		background-image: url(../img/2.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .three {
		background-image: url(../img/3.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .four {
		background-image: url(../img/4.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .five {
		background-image: url(../img/5.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .six {
		background-image: url(../img/6.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .seven {
		background-image: url(../img/7.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .eight {
		background-image: url(../img/8.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .nine {
		background-image: url(../img/9.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .ten {
		background-image: url(../img/10.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .eleven {
		background-image: url(../img/11.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .twelve {
		background-image: url(../img/12.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .cube > .one {
		opacity: 0.2;
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
    }

    .cube > .two {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
    }

    .cube > .three {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
    }

    .cube > .four {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
    }

    .cube > .five {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
    }

    .cube > .six {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
    }
	
	#shape:hover.cube > .one, .autoLoad > .one {
		opacity: 0.9;
		-webkit-transform: scale3d(1.5, 1.5, 1.5) rotateX(90deg) translateZ(130px);
    }

    #shape:hover.cube > .two, .autoLoad > .two {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) translateZ(150px);
    }

    #shape:hover.cube > .three, .autoLoad > .three {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(90deg) translateZ(150px);
    }

    #shape:hover.cube > .four, .autoLoad > .four {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(180deg) translateZ(150px);
    }

    #shape:hover.cube > .five, .autoLoad > .five {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(-90deg) translateZ(150px);
    }

    #shape:hover.cube > .six, .autoLoad > .six {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateX(-90deg) translateZ(130px) rotate(180deg);
    }

    .cube > .seven, .autoLoad > .seven {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
    }

    .cube > .eight, .autoLoad > .eight {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
    }

    .cube > .nine, .autoLoad > .nine {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
    }

    .cube > .ten, .autoLoad > .ten {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
    }

    .cube > .eleven, .autoLoad > .eleven {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
    }

    .cube > .twelve, .autoLoad > .twelve {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
    }

    .ring > .one {
      -webkit-transform: translateZ(380px);
    }

    .ring > .two {
      -webkit-transform: rotateY(30deg) translateZ(380px);
    }

    .ring > .three {
      -webkit-transform: rotateY(60deg) translateZ(380px);
    }

    .ring > .four {
      -webkit-transform: rotateY(90deg) translateZ(380px);
    }

    .ring > .five {
      -webkit-transform: rotateY(120deg) translateZ(380px);
    }

    .ring > .six {
      -webkit-transform: rotateY(150deg) translateZ(380px);
    }

    .ring > .seven {
      -webkit-transform: rotateY(180deg) translateZ(380px);
    }

    .ring > .eight {
      -webkit-transform: rotateY(210deg) translateZ(380px);
    }

    .ring > .nine {
      -webkit-transform: rotateY(-120deg) translateZ(380px);
    }

    .ring > .ten {
      -webkit-transform: rotateY(-90deg) translateZ(380px);
    }

    .ring > .eleven {
      -webkit-transform: rotateY(300deg) translateZ(380px);
    }

    .ring > .twelve {
      -webkit-transform: rotateY(330deg) translateZ(380px);
    }

    .controls {
      padding: 5px;
    }
	
    .controls > div {
      margin: 10px;
    }
	
	.audio {
      position: absolute;
	  top: 15px;
      left: 15px;
      height: 30px;
      width: 300px;
    }